.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.i-ch-default {
    background-image: url(../img/channel_default.svg);
}

.i-ch-regular {
    background-image: url(../img/channel_regular.svg);
}

.i-cl-no-in {
    background-image: url(../img/client_no_input.svg);
}

.i-cl-no-out {
    background-image: url(../img/client_no_output.svg);
}

.i-cl-regular {
    background-image: url(../img/client_regular.svg);
}

.i-vserver {
    background-image: url(../img/vserver.svg);
}

.bottom-fadeout {
    position: relative;
    display: block;
}

.bottom-fadeout:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    background: linear-gradient(
        to bottom,
        rgba(var(--bs-body-bg-rgb), 0) 80%,
        rgba(var(--bs-body-bg-rgb), 1) 100%
    );
}