{% load static %}
{% load i18n %}

{% get_language_info for LANGUAGE_CODE as lang %}

<!DOCTYPE html>
<html lang="{{ lang.code }}" data-bs-theme="dark">
<head>
  {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}
  {% block title %}
    <title>{{ ts3.server_info.virtualserver_name }}</title>
  {% endblock %}
  {% block styles %}
    <link rel="stylesheet" href="{% static "bs5/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bs5/bootstrap-icons.min.css" %}">
    <link rel="stylesheet" href="{% static "web_ui/css/style.css" %}">
  {% endblock %}
</head>

<body>
{% block body %}
  <nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container">
      <span class="navbar-brand">
        <i class="icon i-vserver"></i>

        <span class="fw-bold">
          {{ ts3.server_info.virtualserver_name }}
        </span>
      </span>

      <button
        type="button"
        class="navbar-toggler" 
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto my-2 my-lg-0 ps-2">
          {% with request.path as current_url %}
            <li class="nav-item">
              {% url "web_ui:index" as index_url %}
              <a href="{{ index_url }}" class="nav-link {% if current_url == index_url %}active{% endif %}">
                <i class="bi bi-house"></i>
                {% trans "Homepage" %}
              </a>
            </li>

            <li class="nav-item">
              {% url "web_ui:top_alltime" as top_users_page %}
              <a href="{{ top_users_page }}" class="nav-link {% if current_url == top_users_page %}active{% endif %}">
                <i class="bi bi-clock-history"></i>
                {% trans "Top users" %}
              </a>
            </li>
          {% endwith %}

          <li class="nav-item my-auto">
            <div class="d-flex">
              <i class="bi bi-lightbulb"></i>

              <div class="form-check form-switch ps-5">
                <input class="form-check-input" type="checkbox" role="switch" id="theme-switcher">
                <label class="form-check-label d-none" for="theme-switcher">
                  {% trans "Switch theme" %}
                </label>
              </div>

              <i class="bi bi-lightbulb-fill"></i>
            </div>
          </li>
        </ul>

        {% if ts3.public_addr %}
          <form method="get" action="{{ ts3.public_addr }}" class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-secondary rounded-0">
              {% trans "Join server" %}
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </nav>

  <main>
    {% block main %}
      <p class="text-center">
        Extend me!
      </p>
    {% endblock %}
  </main>

  <footer class="text-center text-lg-start text-muted">
    {% block footer %}
    {% endblock %}
  </footer>
{% endblock %}

{% block scripts %}
  <script src="{% static "bs5/bootstrap.bundle.min.js" %}" defer></script>
  <script src="{% static "web_ui/js/theme.js" %}" defer></script>
{% endblock %}
</body>
</html>
