{% extends "web_ui/_base.html" %}

{% load humanize %}
{% load i18n %}
{% load static %}

{% block main %}
  <div class="container py-2">
    <div class="row">
      {# Active users #}
      <div class="col-12 col-lg-6 mb-4">
        <div class="card rounded-0 h-100">
          <div class="card-header d-flex justify-content-between">
            <h5 class="card-title mb-0">
              {% trans "Active users" %}
            </h5>
          </div>

          {% if channel_tree %}
            <div class="card-body">
              <ul class="list-group list-group-flush">
                {% for channel in channel_tree %}
                  {% include "web_ui/_partial/item_channel_tree.html" with channel=channel only %}
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <img
              class="img-fluid"
              src="{% static "web_ui/img/empty_server.gif" %}"
              alt="{% trans "Server is empty" %}"/>

            <div class="card-body h-100 d-flex flex-column justify-content-center align-items-center">
              <p class="card-text">
                {% trans "Nobody's here yet." %}
              </p>

              <a href="{{ server_join_url }}">
                {% trans "Be the first one!" %}
              </a>
            </div>
          {% endif %}
        </div>
      </div>

      {# Recent connections #}
      <div class="col-12 col-lg-6 mb-4">
        <div class="card rounded-0 h-100">
          <div class="card-header">
            <h5 class="card-title mb-0">
              {% trans "Recent connections" %}
            </h5>
          </div>

          <div class="card-body">
            <ul class="list-group-flush ps-0 bottom-fadeout">
              {% for db_client in recent_logins %}
                {% include "web_ui/_partial/item_recent_conn.html" with db_client=db_client only %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="container">
    <p class="small">
      {% trans "Snapshot at" %}
      {{ timestamp | date:"Y-m-d H:i:s" }}
    </p>
  </div>
{% endblock %}