{% extends "web_ui/_base.html" %}

{% load humanize %}
{% load i18n %}
{% load static %}

{% block main %}
  <div class="container py-2">
    <div class="row">
      <div class="d-flex justify-content-evenly">
        {% for y in scroll_iters.years %}
          <a href="{% url "web_ui:top_yearly" y %}"
             class="btn{% if y == year %} active{% endif %}">
            Y{{ y }}
          </a>
        {% endfor %}
      </div>
    </div>

    <hr/>

    {% if scroll_iters.months %}
      <div class="row">
        <div class="d-flex justify-content-evenly">
          {% for m in scroll_iters.months %}
            <a href="{% url "web_ui:top_monthly" year m %}"
               class="btn{% if m == month %} active{% endif %}">
              M{{ m }}
            </a>
          {% endfor %}
        </div>
      </div>

      <hr/>
    {% endif %}

    {% if scroll_iters.days %}
      <div class="row d-flex flex-wrap">
        <div class="justify-content-evenly">
          {% for d in scroll_iters.days %}
            <a href="{% url "web_ui:top_daily" year month d %}"
               class="btn{% if d == day %} active{% endif %}">
              D{{ d }}
            </a>
          {% endfor %}
        </div>
      </div>

      <hr/>
    {% endif %}

    <div class="row">
      <div class="col-12">
        {% if top_users %}
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th></th>
                <th>{% trans "User" %}</th>
                <th>{% trans "Total hours" %}</th>
              </tr>
              </thead>

              <tbody>
              {% for user in top_users %}
                <tr>
                  <td>
                    {% with forloop.counter as n %}
                      {{ n }}.
                    {% endwith %}
                  </td>
                  <td>{{ user.user_nickname }}</td>
                  <td>{{ user.total_hours }} h</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="alert alert-info text-center" role="alert">
            {% trans "No data" %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="container">
    <p class="small">
      {% trans "Data since" %}
      {{ scope_bounds.since | date:"Y-m-d H:i:s" | default:"N/A" }}
      {% trans "until" %}
      {{ scope_bounds.until | date:"Y-m-d H:i:s" | default:"N/A" }}
    </p>
  </div>
{% endblock %}