{% load web_ui %}

<li class="list-group-item">
  <span class="fw-bold">
    <i class="icon {{ channel | channel_icon }}"></i>
    {{ channel.channel_name }}
  </span>

  {% if channel.subchannels or channel.clients %}
    <ul class="list-group list-group-flush">
      {% for subchannel in channel.subchannels %}
        {% include "web_ui/_partial/item_channel_tree.html" with channel=subchannel only %}
      {% endfor %}

      {% for client in channel.clients %}
        <li class="list-group-item border-0 py-0">
          <i class="icon {{ client | client_icon }}"></i>
          {{ client.client_nickname }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</li>
