{% load humanize %}
{% load web_ui %}

<li class="list-group-item d-flex justify-content-between align-items-start mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 mx-0 text-truncate">
        {{ db_client.client_nickname }}
      </div>

      <div class="col-12 col-sm-6 mx-0 text-start text-sm-end fw-lighter">
        {{ db_client.client_lastconnected | ts_date | naturaltime }}
      </div>
    </div>

    <div class="row d-none d-md-block">
      <div class="col-12 fw-lighter mx-0">
        {{ db_client.client_lastconnected | ts_date | date:"Y-m-d H:i:s" }}
      </div>
    </div>
  </div>
</li>
